.container {
    min-width: 500px;
    display:flex;
    flex-direction: column;
    background-color: beige;
}

.tableWrapper {
    display:flex;
    flex-direction: row;
}
.colSumContainer {
    display:inline-block;
    padding:20px;
}
.rowSumContainer {
    display:inline-block;
    padding:20px;
}